.pick-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  background: black;
  border-radius: 99rem;
  position: absolute;
  cursor: pointer;
  transition: 0.05s box-shadow linear, .05s transform linear;
  box-shadow: inset rgba(0,0,0,.25) 0 3px 0 0;


  &:hover {
    transform: scale(1.1);
  }

  .pick-button {
    width: 9rem;
    height: 9rem;
    border-radius: inherit;
  }

  &--paper {
    left: 0;
    top: 0;
  }

  &--scissors {
    right: 0;
    top: 0;
  }

  &--rock {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);


    &:hover {
      transform: scale(1.1) translateX(calc(-50% * (1 / 1.1)));
    }
  }


}
